<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>학교 주변 놀거리</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
  <h1 style="text-align: center;">ASCENT</h1>

  <div class="container">
    {% if login %}
      <div class="login-info-box">
        <h3>로그인에 성공했습니다.<br>{{ userid }}님, 어서 오세요!</h3>
        <p>작성하신 리뷰: {{ review_count }}개</p>
        <a href="{{ url_for('logout') }}">로그아웃</a>
      </div>

             <div class="box" id="mainBox">
        <h2>이대 주변 놀거리</h2>

        <div class="filter" style="margin-top: 1em;">
  <form method="get" action="{{ url_for('home') }}" style="display: flex; gap: 10px; flex-wrap: nowrap; align-items: center; width: 100%;">
    <select name="sort" style="flex: 1.5; min-width: 100px; padding: 10px; border: 1px solid #aaa; border-radius: 4px; font-size: 15px; height: 42px;">
      <option value="rating">평점순</option>
      <option value="name">이름순</option>
    </select>
    <input type="text" name="q" placeholder="검색어 입력" value="{{ request.args.get('q', '') }}" style="flex: 7; min-width: 200px; padding: 10px; border: 1px solid #aaa; border-radius: 4px; font-size: 15px; height: 42px;">
    <button type="submit" style="flex: 1.5; min-width: 100px; padding: 10px; background-color: rgb(181, 179, 175); color: black; border: none; border-radius: 4px; font-weight: bold; cursor: pointer; height: 42px;">
      검색
    </button>
  </form>
</div>


        <div id="placeList">
          <ul>
            {% for id, name, avg in places %}
              <li class="place-item">
                <a href="{{ url_for('place_detail', place_id=id) }}">{{ name }}</a><br>
                <span class="star">★ {{ "%.1f"|format(avg) }}</span>
              </li>
            {% else %}
              <li>검색 결과가 없습니다.</li>
            {% endfor %}
          </ul>
        </div>
      </div>

    {% else %}
      <!-- 로그인 안 된 상태 → 로그인 박스 -->
      <div class="box" id="loginBox">
        <h2>로그인</h2>
        
        <form method="post" action="{{ url_for('login') }}">
          <input type="text" name="loginId" placeholder="아이디">
          <input type="password" name="loginPw" placeholder="비밀번호">

          {% if error %}
            <ul>
              <li><p class="error">{{ error|safe }}</p></li>
            </ul>
          {% endif %}


          <button type="submit">로그인</button>
        </form>
        <a href="{{ url_for('signup') }}">회원가입</a>
      </div>
    {% endif %}
  </div>
</body>
</html>
